<!--发票管理  -->
<style type="text/css">
    .form-group label{
    margin-top: 5px;
    }
    .form-group .form-control {
        vertical-align:middle !important; 
        margin-top: 5px;
    }
</style>
<div class="container-fluid">
    <div class="col-sm-12 plr0 height100 gridBox" id="fapiao_gridBox">
        <table id="fapiao_jqGrid"></table>
        <div id="fapiao_jqGridPager"></div>
    </div>
</div>
<!-- 导入 -->
<div class="layerFormBox" id="fapiao_import_formBox"> 
    <form action="" id="caigou_import_form" method="POST" enctype="multipart/form-data">
        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label text-right"><span class="necessary">*</span>文件:</label>
            <div class="col-sm-8">
                <span class="btn btn-default btn-sm fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>添加附件</span>
                    <input type="file" name="files[]" multiple>
                </span>
            </div>
        </div>
        <ul style="text-align:center;margin:10px auto;padding:0;"  class="thumbnails list-unstyled clearfix files"></ul>
    </form>
    <p class="text-center saveOrCacelBtn"> 
        <button type="button" class="btn btn-info btn-sm qx">上传</button>        
        <button type="button" class="btn btn-info btn-sm qx">取消</button>        
    </p>
</div>
<!-- 报表统计 -->
<div class="layerFormBox" id="fapiao_tongji_formBox"> 
    <div class="container-fluid tongji">
        <div class="row">
            <form class="form-inline">
                <div class="form-group">
                    <select name="ywlx" id="" class="form-control input-sm">
                        <option value="" selected="selected">统计方式</option>
                        <option value="">年统计</option>
                        <option value="">月统计</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="riqi" class="form-control input-sm"  onClick="WdatePicker()" placeholder="开始日期 ">
                </div>
                <i class="fa fa-minus"></i>
                <div class="form-group">
                    <input type="riqi" class="form-control input-sm"  onClick="WdatePicker()" placeholder="结束日期 ">
                </div>
                <button type="button" class="btn btn-info btn-sm">查询</button>
                <button type="reset" class="btn btn-info btn-sm">重置</button>
            </form>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered"> 
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>发票代码</th>
                            <th>发票号码</th>
                            <th>通知单号</th>
                            <th>销方名称</th>
                            <th>开票日期</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2" style="text-align:center; vertical-align:middle;">2015-01</td>
                            <td>11090010999</td>
                            <td>456132323</td>
                            <td>201705150001</td>
                            <td>华为技术有限公司</td>
                            <td>2015-01-22</td>
                        </tr>
                        <tr>
                            <td>110929488924</td>
                            <td>281838111</td>
                            <td>201705150021</td>
                            <td>小米科技有限公司</td>
                            <td>2015-01-31</td>
                        </tr>
                        <tr>
                            <td rowspan="2" style="text-align:center; vertical-align:middle;">2015-02</td>
                            <td>891928919288</td>
                            <td>2323223</td>
                            <td>2017051502323</td>
                            <td>顺丰控股集团</td>
                            <td>2015-03-12</td>
                        </tr>
                        <tr>
                            <td>7313787738898</td>
                            <td>987834914</td>
                            <td>2013-09-21</td>
                            <td>爱奇艺娱乐互动公司</td>
                            <td>2015-02-13</td>
                        </tr>
                        <tr>
                            <td>合计</td>
                            <td colspan="5" class="text-right">总记录数：4</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p class="text-right"><button class="btn btn-info btn-sm qx">导出</button></p>
    </div>
</div>
<script type="text/javascript">

    
$(function(){
    var dataUrl = 'data/fapiao.json';
    var index = null;
    var flag = '';
    var rowNumber = 1000000;

    //表格数据
    var gridWidth = $('#fapiao_gridBox').width();
    var gridHeight = $('#fapiao_gridBox').height()-122;
    $("#fapiao_jqGrid").jqGrid({
        
        hidegrid : false, 
        altRows : true, 
        colModel: [{label : '发票代码', name : 'number', align: 'center', width: 100},
            {label : '发票号码', name : 'anotherNumber', align: 'center', width:100},
            {label : '通知单号 ', name : 'tongzhi', align: 'center', width:100},
            {label : '相关单', name : 'baoguan', align: 'center', width:100},
            {label : '销方名称', name : 'company', align: 'center', width:60},
            {label : '销方识别号', name : 'lastNumber', align: 'center', width: 100}
            ],

        viewrecords: true,
        loadonce:true,
        width: gridWidth,
        //width: 'auto',
        //width : '100%',
        height: gridHeight,
        //height : 'auto',
        rowNum: 11,
        rowList:[10,15,20,25],
        datatype: 'local',
        pager: "#fapiao_jqGridPager",
        multiselect: true,
        rownumbers: true,
        rownumWidth: 30,
        recordtext: "当前显示: <b>{0}</b>至<b>{1}</b> 总数: <b>{2}</b>",
        //emptyrecords: "No records to view",
        //loadtext: "Loading...",
        
    }).navGrid('#fapiao_jqGridPager',{ // the buttons to appear on the toolbar of the grid
            edit:false,add:false,del:false,search:false,refresh:false
        }).navButtonAdd('#fapiao_jqGridPager',{
            //caption: '删除',
            caption: '',
            title : '删除',
            buttonicon : 'glyphicon-trash',
            onClickButton : fapiao_deleteLayer, //调用删除的函数
            position : 'last'   
        }).navButtonAdd('#fapiao_jqGridPager',{
            //caption: '导入合同',
            caption: '',
            title : '导入合同',
            buttonicon : 'fa fa-upload',
            onClickButton : fapiao_importLayer, //调用导入合同函数
            position : 'last'
        }).navButtonAdd('#fapiao_jqGridPager',{
            //caption: '统计',
            caption: '',
            title : '报表统计',
            buttonicon : 'fa fa-bar-chart-o',
            onClickButton : fapiao_tongjiLayer, //调用报表统计函数
            position : 'last'
        }).navSeparatorAdd("#fapiao_jqGridPager",{
            sepcontent: '',
            sepclass : "ui-separator"
        });
    //搜索框按钮,开启搜索框需要重新调整高度
    $('#fapiao_jqGrid').jqGrid('filterToolbar');
    
    fetchGridData();
    
    //editGridRow新增记录；viewGridRow查看记录详情；delGridRow删除记录。
    
    $(document).ready(function () {
        $("#inputs").change(function () {
            var fil = this.files;
            for (var i = 0; i < fil.length; i++) {
                reads(fil[i]);
            }
        });
    });
    function reads(fil){
        var reader = new FileReader();
        reader.readAsDataURL(fil);
        reader.onload = function(){
            document.getElementById("dd").innerHTML += "<img src='"+reader.result+"'>";
        };
    }
    
    //弹框取消按钮
    $('.qx').on('click',function(){
        layer.close(index);
    });
    
    
    
    //弹框保存按钮
    $(document).on('click','#fapiao_save_btn',function(){
        if(flag == 'add'){
            var data = {
                    "name": $.trim($('#fapiao_name').val()),
                    "relName": $.trim($('#fapiao_relName').val()),
                    "company": $.trim($('#fapiao_company').val()),
                    "createTime": $.trim($('#fapiao_createTime').val())
            };
            var currentNumber = rowNumber++;
            var result = jQuery("#fapiao_jqGrid").addRowData(currentNumber,data,'first');
            
            if(result){
                layer.msg('添加成功');
                layer.close(index);
                
                jQuery("#fapiao_jqGrid").setSelection(currentNumber,true);
                
            }else{
                layer.msg('添加失败!');
            }
        }else if(flag == 'update'){
            
            //删除
            var rowIds = getSelectedRow();
            jQuery("#fapiao_jqGrid").delRowData(rowIds[0]);
            //添加
            var data = {
                    "name": $.trim($('#fapiao_name').val()),
                    "relName": $.trim($('#fapiao_relName').val()),
                    "company": $.trim($('#fapiao_company').val()),
                    "cteateTime": $.trim($('#fapiao_cteateTime').val())
            };
            var currentNumber = rowNumber++;
            var result = jQuery("#fapiao_jqGrid").addRowData(currentNumber,data,'first');
            
            if(result){
                layer.msg('更新成功');
                layer.close(index);
                jQuery("#fapiao_jqGrid").setSelection(currentNumber,true);
            }else{
                layer.msg('更新失败!');
            }
        }
        
    });
    
    
    //左下角删除按钮
    function fapiao_deleteLayer(){
        var rowIds = getSelectedRow();
        var len = rowIds.length;
        if(rowIds && $.isArray(rowIds) && rowIds.length>0){
            //删除
            var deletindex = layer.confirm('确定要删除吗？', {
              btn: ['确定','取消'] //按钮
            }, function(){
                for(var i=0; i<len; i++){
                    jQuery("#fapiao_jqGrid").delRowData(rowIds[0]);  
                }
                layer.msg('删除成功', {icon: 1});
            }, function(){
                layer.close(deletindex);
            });
            
        }else{
            layer.msg('请选择记录!');
        }
        
    };
    
    //导入合同
    function fapiao_importLayer(){
        index = layer.open({
            type: 1,
            title : "导入合同",
            area: ['80%', '60%'], //宽高
            content: $('#fapiao_import_formBox')
        });
    }
    //报表统计
    function fapiao_tongjiLayer(){
        index = layer.open({
            type: 1,
            title : "报表统计",
            area: ['80%', '65%'], //宽高
            content: $('#fapiao_tongji_formBox')
        });
    }
    
/*上传文件的表单*/
         $("#fapiao_fileupload").fileupload({
            maxNumberOfFiles:20,//上传文件的最大数量
            maxFileSize : 3000000, //最大3M
            minFileSize : 5000,//最小5K
            acceptFileTypes: /(\.|\/)(docx?|xlsx?|pdf|pptx?|gif|jpe?g|png)$/i,//接受的文件类型
            type : 'post',//客户端的请求方式
            dataType : 'json',//服务器响应的数据类型
            url: 'server/php/',//请求的地址
            messages: {//错误信息的提示
               maxNumberOfFiles: '最多上传20张图片',
               acceptFileTypes: '文件类型不允许',
               maxFileSize: '文件不能大于3M',
               minFileSize: '文件不能小于5K'
           }
        });
        /*上传文件的表单*/
         $("#fapiao_import_formBox").fileupload({
            maxNumberOfFiles:20,//上传文件的最大数量
            maxFileSize : 3000000, //最大3M
            minFileSize : 5000,//最小5K
            acceptFileTypes: /(\.|\/)(docx?|xlsx?|pdf|pptx?|gif|jpe?g|png)$/i,//接受的文件类型
            type : 'post',//客户端的请求方式
            dataType : 'json',//服务器响应的数据类型
            url: 'server/php/',//请求的地址
            messages: {//错误信息的提示
               maxNumberOfFiles: '最多上传20张图片',
               acceptFileTypes: '文件类型不允许',
               maxFileSize: '文件不能大于3M',
               minFileSize: '文件不能小于5K'
           }
        });

    //获取json数据
    function fetchGridData() {

        var gridArrayData = [];
        // show loading message
        $("#fapiao_jqGrid")[0].grid.beginReq();
        $.ajax({
            url: dataUrl,
            success: function(result) {
                for (var i = 0; i < result.items.length; i++) {
                    var item = result.items[i];
                    
                    gridArrayData.push({
                        number: item.number,
                        anotherNumber: item.anotherNumber,
                        tongzhi: item.tongzhi,
                        baoguan: item.baoguan,
                        company: item.company,
                        lastNumber: item.lastNumber
                    });

                }
                // set the new data
                $("#fapiao_jqGrid").jqGrid('setGridParam', {
                    data: gridArrayData
                });
                // hide the show message
                $("#fapiao_jqGrid")[0].grid.endReq();
                // refresh the grid
                $("#fapiao_jqGrid").trigger('reloadGrid');
            }
        });
    }
    //格式化标题
    function formatTitle(cellValue, options, rowObject) {
        return cellValue.substring(0, 50) + "...";
    };
    //格式化链接
    function formatLink(cellValue, options, rowObject) {
        return "<a href='" + cellValue + "'>" + cellValue.substring(0, 25) + "..." + "</a>";
    };
    //获取选择的行
    function getSelectedRow() {
        var grid = $("#fapiao_jqGrid");
        var rowKeys = grid.jqGrid('getGridParam',"selarrrow");

       return rowKeys;
    }
    
    
    changeSearch(); //修改工具条
    
});


    
</script>
<!-- 可用的模板来显示文件上传 id是必须不可修改 如果不是图片类型的文件显示默认的文件图标-->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <li class="col-md-2 template-upload fade" style="padding:10px">
        <div style="margin-bottom:15px;">
            <span class="preview" style="display:block;  title="{%=file.name%}" >
                {% if(file.name.indexOf('doc') != -1) { %}
                    <img src="../images/word.png"/>
                {% } %}
                {% if(file.name.indexOf('xls') != -1) { %}
                    <img width="150" height="150" src="../images/xls.png"/>
                {% } %}
                {% if(file.name.indexOf('pdf') != -1) { %}
                    <img width="150" height="150" src="../images/pdf.png"/>
                {% } %}
                {% if(file.name.indexOf('ppt') != -1) { %}
                    <img width="150" height="150" src="../images/ppt.png"/>
                {% } %}
            </span>
            <div style="margin-bottom:10px;margin-top:8px;" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            <p class="errorMsgPosition"><strong class="error text-danger"></strong></p> 
        </div>
        
        {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-info btn-sm start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>上传</span>
                </button>
        {% } %}
        {% if (!i) { %}
             <button class="btn btn-sm btn-warning cancel">
                 <i class="glyphicon glyphicon-ban-circle"></i>
                 <span>删除</span>
             </button>
        {% } %}     
    </li>   
{% } %}
</script>
<!-- 模板来显示文件可供下载 -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <li class="col-md-2 template-download fade" style="padding:10px;margin-bottom:10px; margin-left:0">
        <div style="margin-bottom:15px;">
            <span class="preview" style="display:block;height:122px;overflow:hidden;"  title="{%=file.name%}" >
                {% if(file.name.indexOf('doc') != -1) { %}
                    <img width="150" height="150" src="../images/word.png"/>
                {% }else if(file.name.indexOf('xls') != -1) { %}
                    <img width="150" height="150" src="../images/xls.png"/>
                {% }else if(file.name.indexOf('pdf') != -1) { %}
                    <img width="150" height="150" src="../images/pdf.png"/>
                {% }else if(file.name.indexOf('ppt') != -1) { %}
                    <img width="150" height="150" src="../images/ppt.png"/>
                {% }else { %}
                    <img width="150" height="150" src="{%=file.thumbnailUrl%}">
                {% } %}
            </span>
            <p>{%=(file.name).substring(0,8)%}&bull;&bull;&bull;</p>
            <p class="errorMsgPosition"><strong class="error text-danger"></strong></p>             
        </div>
        
        <a class="btn btn-info btn-sm " href="{%=file.url%}" download="{%=file.url%}">
             <i class="glyphicon glyphicon-download"></i>
             <span>下载</span>
        </a>
        {% if (file.deleteUrl) { %}
            <button class="btn btn-danger btn-sm delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                <i class="glyphicon glyphicon-trash"></i>
                <span>删除</span>
            </button>
            
        {% } else { %}
            <button class="btn btn-warning  btn-sm  cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>删除</span>
            </button>
        {% } %}
    </li>
{% } %}
</script>


